@model IEnumerable<Proyecto_Notas.Models.Materia>

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
     <h1 class="display-4">Materias</h1>
    <p class="lead">Aplicación de registro para las notas de nuestros estudiantes.</p>
  </div>
</div>
    <hr />

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Materia</a>
</p>
<table class="table">
    <thead>
         <tr>
            <th>
               Id Materia
            </th>
            <th>
               Nombre de la Materia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateria)
            </td>
                 <td>
                        @Html.DisplayFor(modelItem => item.NombreMateria)
                </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdMateria">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdMateria">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdMateria">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
